trigger:
- main

pool:
  name: SelfHosted

steps:
- checkout: self

- task: Docker@2
  displayName: Build image (tagged)
  inputs:
    command: build
    repository: jackhenry-devops-api
    Dockerfile: '**/Dockerfile'
    buildContext: '$(Build.SourcesDirectory)'
    tags: |
      local

- powershell: |
    docker images jackhenry-devops-api --format "table {{.Repository}}\t{{.Tag}}\t{{.ID}}\t{{.CreatedSince}}"
  displayName: Verify image tag exists

- powershell: |
    $ErrorActionPreference = "Stop"

    docker run -d --name jh-api -p 8080:8080 jackhenry-devops-api:local | Out-Host
    Start-Sleep -Seconds 3

    Write-Host "Testing /health..."
    $resp = Invoke-WebRequest -UseBasicParsing http://localhost:8080/health
    Write-Host "StatusCode: $($resp.StatusCode)"
    Write-Host "Body: $($resp.Content)"

    if ($resp.StatusCode -ne 200) { throw "Health check failed" }
  displayName: Run container and health check

- powershell: |
    docker logs jh-api
    docker stop jh-api
    docker rm jh-api
  displayName: Cleanup container
  condition: always()