# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: 'SelfHosted'

steps:
- task: Docker@2
  displayName: Build Docker image
  inputs:
    command: build
    repository: jackhenry-devops-api
    Dockerfile: '**/Dockerfile'
    tags: |
      local

- powershell: |
    $ErrorActionPreference = "Stop"

    docker run -d --name jh-api -p 8080:8080 jackhenry-devops-api:local | Out-Host
    Start-Sleep -Seconds 3

    Write-Host "Testing /health..."
    $resp = Invoke-WebRequest -UseBasicParsing http://localhost:8080/health
    Write-Host "StatusCode: $($resp.StatusCode)"
    Write-Host "Body: $($resp.Content)"

    if ($resp.StatusCode -ne 200) { throw "Health check failed" }
  displayName: Run container and health check

- powershell: |
    docker logs jh-api
    docker stop jh-api
    docker rm jh-api
  displayName: Cleanup container
  condition: always()